QPushButton{padding:4px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #000000;
    background-color: rgb(170,170,170);}
QPushButton:pressed {
    color: #111;
    border: 1px solid #3873d9;
    background: #fff;
 }
QLabel{color: rgb(255,255,255)}